{
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "radix": ["error", "as-needed"],
    "react/prop-types": "off",
    "react/jsx-max-props-per-line": ["error", { "maximum": 2, "when": "multiline" }],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"]
}
